.page {
  background-color: #000000;
  max-width: 1280px;
  padding: 45px 15.4% 60px 15.4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Inter, sans-serif;
}

@media screen and (max-width: 410px) {
  .page {
    padding: 28px 6% 36px 6%;
  }
}
