.popup__save-button_disabled {
  background-image: url(../../../../images/save-button_disabled.svg);
  background-color: #ffffff;
  color: #000;
  border: 1px solid #000;
  opacity: 0.2;
}

.popup__save-button_disabled:hover {
  cursor: default;
  opacity: 0.2;
}


