.profile__avatar-edit-button {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 0;
}

.profile__avatar-edit-button:hover {
  cursor: pointer;
  transition: background-color .5s ease;
  background: url(../../../images/avatar-edit.png) no-repeat center rgba(0, 0, 0, 0.8);
}

