.popup__close {
  background: url(../../../images/close-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 58px;
  height: 58px;
  position: absolute;
  top: -48px;
  right: -48px;

}

@media screen and (max-width: 500px) {
  .popup__close {
    width: 36px;
    height: 36px;
    top: -49px;
    right: 0px;
  }
}
