@import url(./__logo/header__logo.css);
.header {
  border-bottom: 1px solid #545454;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-width: 882px;
  padding: 45px 0 40px;
}

@media screen and (max-width: 922px) {
  .header {
    padding: 28px 0 30px;
  }
}
