.profile__add-button {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  margin-left: auto;
  align-self: center;
  background-image: url(../../../images/profile__add-button_img.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 915px) {
  .profile__add-button {
    margin: auto;
  }
}

@media screen and (max-width: 410px) {
  .profile__add-button {
    max-width: 282px;
    width: 100%;
  }
}
