@import url(./__item/elements__item.css);
@import url(./__img/elements__img.css);
@import url(./__like-button/elements__like-button.css);
@import url(./__title/elements__title.css);
@import url(./__card-info/elements__card-info.css);

.elements {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(282px, 1fr) );
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 21px;
  padding-left: 0px;
  max-width: 882px;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

