.elements__title {
  color: black;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 29px;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 190px;
}
