.profile__info-job {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 30px;
}

@media screen and (max-width: 700px) {
  .profile__info-job {
    align-self: center;
    margin-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  .profile__info-job {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
}

