.profile__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 915px) {
  .profile__info {
    margin-bottom: 36px;
    margin-top: 12px;
  }
}
