.elements__item {
  background-color: #ffffff;
  list-style-type: none;
  width: 282px;
  border-radius: 10px;
  margin-right: 18px;
  margin-bottom: 20px;
}

.elements__item:nth-child(3n) {
  margin-right: 0px;
}
