.button {
  box-sizing: border-box;
  background-color: #000000;
  padding: 0px;
  border: 0;
}

.button:hover {
  transition: 0.3s linear;
  opacity: 0.6;
  cursor: pointer;
}

button:focus {
  outline: none;
}
